@import (less) 'normalize.css/normalize.css';
@import "fonts.less";
@import "project.less";
@import "smart-grid.less";
@import "reset-iluch";



.reset();

.wrapper {
  .wrapper();
}


.debugGrid{
    .debug(rgba(0, 0, 0, 0.5), 1px solid #f90);
}


.red{
  color: #d94948;
}

h2, .h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}

.h2sub {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.profit {
  background: @color_black;
  padding: 15px 0;

  &__title {
    color: #fff;
  }

  &__subtitle {
    color: @color_green;
  }
}

.profitItems {
  .row-flex();
  justify-content: space-around;
}

.profitItem {
  .col();
  .size(6);
  .size-md(10);
  .size-xs(20);

  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  &__img {
    border-radius: 50%;

    .xs-block({
      transform: rotate(30deg);
      box-shadow: 5px 5px 5px #999;
    });
  }

  &__subtitle {
    color: #fff;
    font-size: 1.5rem;
    margin: 3px 0;
  }

  &__text {
    font-size: 16px;
    color: #d94948;
  }
}

.humans {
  background: @color_green;
  padding: 10px 0;

  h2 {
    color: @color_black;
  }

  .h2sub {
    color: #fff;
  }

  .items {
    .row-flex();
    justify-content: center;

    .item {
      .col();
      .size(6);
      .size-md(10);
      .size-sm(12);
      .size-xs(20);
      .size-xxs(24);

      background: #fff;
      border-radius: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;

      img {
        margin: 10px auto;
        width: 90%;
        align-self: center;

        .from-to(400px, 600px, {
          transform: rotate(20deg);
        });

      }

      .subtitle {
        color: #222;
        font-size: 24px;
        margin: 10px;
      }

      .job {
        margin: auto 10px 10px;
      }

      .follow {
        background: #6cc372;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }
}

.portfolio {
  background: @color_grey;
  padding: 10px 0;
  padding-bottom: 180px;

  .md-block({
    padding-bottom: 50px;
  });


  h2 {
    color: @color_black;
  }

  .h2sub {
    color: @color_green;
  }

  .items {
    .row-flex();

    justify-content: space-between;
    //.sm(justify-content, center);

    .item {
      .col();
      .size(5.25);
      .size-md(6);

      .size-sm(10);
      .size-xs(20);
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;

      img {
        margin: 10px auto;
        width: 100%;
      }

      .txt {
        color: @color_black;
        font-size: 20px;
      }
    }
  }
}

.pricing {
  .h2sub {
    color: @color_red;
  }

  .items {
    .row-flex();
    align-items: flex-end;
    //text-align: center;
    margin-top: -154px;

    .md-block({
      margin-top: 40px;
      justify-content: center;
    });

    .item {
      .col();
      .size(8);
      //.size-md(13);
      .md-block({
        .size(24);
        max-width: 500px;
      });

      padding: 0 5px;
      text-align: center;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 30px;

      .title {
        background: #fff;
        overflow: hidden;
        // .md(background, @color_green);
      }

      .h2sub {
        //.md(color,@color_white);
      }

      ul {
        li {
          background: @color_grey;
          padding: 15px 0;
          border-bottom: 1px solid @color_black;
        }
      }

      .price {
        background: @color_red;
        color: #fff;
        padding: 10px 15px;

        .cur {
          font-size: 1.5em;
        }

        .val {
          font-size: 3em;
        }

        .per {
          font-size: 1.2em;
          margin-top: 10px;
        }

        a {
          color: @color_black;
          text-decoration: none;
          background: #fff;
          padding: 5px 20px;
          border-radius: 5px;
          margin-left: auto;
        }
      }
    }
  }
}

footer {
  .items {
    .row-flex();
    .item {
      .col();
      .size(8);
      .size-md(24);
      background: #aaa;
      min-height: 200px;

      .row {
        .row-flex();
        div {
          .col();
          .size(24);
          .size-md(8);
          .size-xs(24);
          background: #f50;
          margin-bottom: @offset_one_side;
        }
      }
    }
  }

}
.test {
  background: #eee;
}

/*
.testItems {
  .row-flex();

}

.testItem {
  .col-padding();
  min-height: 100px;
  &-1{
    .size(6);
    background: #d55d5d;
    padding-left: 0;
    padding-right: 0;
    margin-left: @offset_one_side;
  }
  &-2{
    .size(18);
    background: #257a43;
    padding-right: 0;
    padding-left: @offset;
  }
}*/

.testItems {
  .u-row-flex(0);
}
.testItem {
  .u-col(0);
  min-height: 100px;
  @wleft: 24.5%;

  &-1 {
    width: @wleft;
    //.u-size(6, 24, 0px);
    background: #d55d5d;

  }

  &-2 {
    width: (100% - @wleft);
    //.u-size(18, 24, 0px);
    background: #257a43;
    padding-right: 0;

  }
}