@import (less) 'normalize.css/normalize.css';
@import "fonts.less";
@import "project.less";
@import "smart-grid.less";
@import "reset-iluch";

.reset();

html {
  font-size: 16px;
  position: relative;
}
body {
  background: @color_bg;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  //background: #cbb6b6;
  position: relative;

  .headerNavigation__btn {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
    .sm-block({
      display: block;
    });

    .xs-block({
      left: 30%;
    });

    .hamb-line {
      //background: @color_black;
      display: block;
      height: 2px;
      position: relative;
      width: 24px;
    }

    .hamb-line::before,
    .hamb-line::after {
      background: @color_black;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
  }
}

.toggleBtnSt {
  .hamb-line {
    background: @color_black;
  }

  .hamb-line::before {
    top: 5px;
  }

  .hamb-line::after {
    top: -5px;
  }
}

.toggleBtn {
  .hamb-line {
    background: transparent;
  }

  .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}


.header-nav {
  .wrapper();
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  .header__logo {
    font-size: 1.9rem;
    letter-spacing: -1.9px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: @color_black;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  // навигация
  .headerNavigation {
    .toggleMenu__d {
      display: flex;
      flex-wrap: wrap;
      .sm-block({
        display: none;
      });
    }

    .toggleMenu {
      align-items: center;
      color: @color_black;
      .sm-block({
        color: @color_white;
      });


      .sm-block({
        background: @color_rbga;
      });

      &__item {
        word-break: break-word;
        font-size: 12px;
        display: inline-block;
        font-family: 'Lato', 'Arial', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        padding: 15px 20px;
        .sm-block({
          display: block;
          border-bottom: 1px solid @color_white;
          text-align: left;
          &:first-child {
            padding-left: 30px;
          }
        });
      }
    }
  }

  .toggleTarget {
    .sm-block({
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      box-sizing: border-box;
      background: #fff;
      z-index: 40;
    });
  }

  //Кнопка входа
  .header__button {
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: normal;
    color: @color_white;
    font-style: normal;
    text-align: center;
    background: @color_rbga;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 3px;
  }
}

// Баннер блок

.banner {
  background: @color_bg_banner;
}

.top-banner__images {
  .wrapper();
  background-image: url("../img/history@0,5x.png");
  background-size: cover;
}

.items-img {
  .row-flex();

  .img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    .col();
    .size(3);
    border: 2px solid @color_white;
    border-radius: 3px;

    .item-img {
      //padding: 3px;
    }
  }
}

.top-banner__images {
  display: flex;
  flex-direction: column;

  .top-banner__sub-title {
    order: 3;
  }
}

.top-banner__title {
  display: none;
  @size_title-h1: 36px;
  .sm-block({
    display: block;
    font-size: @size_title-h1;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: bold;
    color: @color_white;
    font-style: normal;
    padding-top: 78px;
  });
  .mx-block({
    font-size: ((@size_title-h1) / 1.2);
  });
  .xs-block({
    font-size: ((@size_title-h1) / 1.6);
  });
  .xxs-block({
    //font-size: ((@size_title-h1) / 2.4);
    padding-top: 30px;
  });
}

.top-banner__images {
  .items-img {
    padding-top: 115px;
    .sm-block({
      display: none;
    });
  }
}

.top-banner__sub-title {
  position: relative;
  @font_size-title: 72px;
  font-size: @font_size-title;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
  color: @color_white;
  font-style: normal;
  max-width: 200px;
  .mx-block({
    font-size: (@font_size-title / 1.2);
  });
  .xs-block({
    font-size: (@font_size-title / 1.9);
  });
  .xxs-block({
    font-size: (@font_size-title / 2.4);
  });

  .number {
    font-size: (@font_size-title * 4.444);
    .mx-block({
      font-size: ((@font_size-title * 4.444) / 1.2);
    });
    .xs-block({
      font-size: ((@font_size-title * 4.444) / 1.9);
    });
    .xxs-block({
      font-size: ((@font_size-title * 4.444) / 2.4);
    });

  }

  .condition {
    position: absolute;
    font-size: (@font_size-title / 2);
    top: 56px;
    .mx-block({
      font-size: ((@font_size-title / 2) / 1.2);
      top: 46px;
    });
    .xs-block({
      font-size: ((@font_size-title / 2) / 1.9);
      top: 30px;
    });
    .xxs-block({
      font-size: ((@font_size-title / 2) / 2.4);
      top: 23px;
    });

  }

  .big_sub {
    position: absolute;
    top: 78px;
    left: 183px;
    .mx-block({
      top: 61px;
      left: 152px;
    });
    .xs-block({
      top: 39px;
      left: 95px;
    });
    .xxs-block({
      top: 30px;
      left: 76px;
    });

  }
}

.items-svg {
  display: none;
  .sm-block({
    display: flex;
    flex-direction: column;
    align-items: end;
  });


  .item_box-svg {
    //width: calc(100% / 12 * 2 - 8px);
    //padding-top: -50px;
    @size-svg_box: 108px;
    width: @size-svg_box;
    height: @size-svg_box;
    border: 3px solid @color_white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    .xs-block({
      @size-svg_box: (108px /1.2);
      width: @size-svg_box;
      height: @size-svg_box;

    });

    &:first-child {
      margin-top: -27px;
      .mx-block({
        margin-top: -18px;
      });
      .xs-block({
        margin-top: -18px;
      });


      .xxs-block({
        margin-top: -18px;
      });
    }
  }

  .item-svg {
    fill: @color_white;
    @size-svg_img: (80px / 1.2);
    font-size: @size-svg_img;
  }
}

.news {
  .wrapper();
}

.subtitle-news {
  font-size: 30px;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
  color: @color_black;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 22px;
}

.items-news {
  .row-flex();
}

.items-news {

}

.item-product {
  .col();
  .size(3);
  .sm-block({
    .size(6)
  });
  .xs-block({
    .size(12)
  });
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  font-size: 14px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: @color_black;
  font-style: normal;
  background: @color_white;
.img-product {
  //align-self: center;
}
  .item-profit, .item-apartment {
    font-weight: bold;
  }

  .item-apartment {
flex-grow: 2;
  }

  .item-address {
    &::before {
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-right: 8px;
      border-radius: 4.5px;
      background-color: @color_dot;
    }
  }

  .item-address, .item-addition {
    font-weight: normal;

  }

  .item-addition {
    color: @color_grey;
  }

  .item-top {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    &:last-child {
      padding-left: 37px;
      padding-bottom: 40px;
    }
  }

}


